@use "../utils/index" as ut;

.menu-btn {
    @include ut.box-shadow(0px, 46px, -25px, #000000);
    @include ut.border-radius(5px);
    background: none;
    border: none;
    font-size: 40px;
    /* color: white; */
    cursor: pointer;
    /* position: fixed; */
    /* background: red; */
    background: ut.$text-color-w;
    width: 55px;
    height: 50px;
    display: flex;
    align-items: center;
    right: 0;

    /* border-radius: 5px; */
    justify-content: center;
    /* -webkit-box-shadow: inset 0px 0px 46px -25px rgba(0, 0, 0, 1);
    -moz-box-shadow: inset 0px 0px 46px -25px rgba(0, 0, 0, 1);
    box-shadow: inset 0px 0px 46px -25px rgba(0, 0, 0, 1);
 */
 
    @media screen and(min-width:860px) {
        display: none;
    }
}

.btn-contact {
    @include ut.border-radius(0px);
    border: 0.12em solid black;
    /* border-radius: 0; */
    width: 10em;
    margin-top: 2em;
    padding: 10px 0;

    font-weight: 700;
    font-size: 25px;
    &:hover {
        -webkit-box-shadow: -6px 9px 15px 0px rgba(0, 0, 0, 0.67);
        -moz-box-shadow: -6px 9px 15px 0px rgba(0, 0, 0, 0.67);
        box-shadow: -6px 9px 15px 0px rgba(0, 0, 0, 0.67);
    }
    &:active {
        background: ut.$text-color-b;
        border: 0.12em solid white;
        color: ut.$text-color-w;
    }
    @media screen and (min-width: 860px) {
        width: 170px;
        height: 40px;
        margin: 0;
        margin-left: 30px;
        padding: 0;
        border: 1px solid black;
        font-size: 18px;
        align-self: center;
    }
}
