@use "../utils/index" as u;

.grid{
  display:grid;
}

.grid-item{
  width:90vw;
  background-size: cover;
  object-fit: cover;
  margin:auto;
  background-attachment: fixed;
  background-position: center;
}

.border{
  border:1px solid red;
}