@use "../utils/index" as ut;

#main {
  /* border: 1px solid yellow; */
  display: flex;
  align-content: center;
  background: radial-gradient(circle at 66% 50%, rgba(217, 217, 217, 1) 2%, rgba(93, 93, 93, 1) 76%);
  position: relative;
  z-index: -1;
  overflow: hidden;
  height: 100%;

  .main-tx {
    @include ut.flex-c;
    justify-content: flex-end;

    align-items: center;
    height: 100%;
    padding-bottom: 120px;
    position: absolute;
    color: white;
    @media screen and(min-width:860px) {
      width: 50%;
      color: black;
      padding-bottom: 200px;
    }
    img {
      width: 350px;
    }
    p {
      letter-spacing: 4px;
      font-weight: 500;
      text-align: center;
      @media screen and(max-width:860px) {
        margin-left: 20px;
      }
    }
  }
  .main-img {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%;
    width: 100%;

    @media screen and(min-width:860px) {
      width: 100%;
      display: flex;
      justify-content: end;
    }
    img {
      width: auto;
      z-index: -1;
      @media screen and(min-width:860px) {
        height: 700px;
        transform: translateY(0);
        transition: transform 0.2s ease-out;
      }
    }
  }
}
